<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/subjects/index.css">

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-sm-4">
            <a href="/grade/new" class="btn btn-primary"><i class="fas fa-plus"></i> Add New Grade</a>
        </div>

        <div class="col-12 col-sm-8">
            <form action="/teachers" method="GET" class="form-inline float-left float-sm-right">
                <input class="form-control mr-3" type="text" name="grade" id="grade" placeholder="grade">
                <button class="btn btn-warning"><i class="fas fa-search"></i> Search</button>
            </form>
        </div>

        <div class="col-12">
            <hr>
        </div>

        <% subjects.forEach(function(subject){ %>
            <div class="col-sm-4 col-md-3 col-lg-2 d-flex mb-4">
                <div class="card text-center">
                    <img class="card-img-top" src="/images/book.png">
                    <div class="card-body">
                        <p class="card-title">Grade <%= subject.grade %></p>
                        <a class="btn btn-primary" href="/grade/<%= subject._id %>">View Subjects</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer") %>