<%- include("../partials/header") %>

<div class="container mt-4">
    <div>
        <a href="/schoolYear/new" class="btn btn-primary"><i class="fas fa-plus"></i> Add New School Year</a>
    </div>
    <hr>
    <div class="row">
        <% schoolYears.forEach(function(schoolYear){ %>
            <div class="col-sm-4 col-md-3 col-lg-2 d-flex mb-4">
                <div class="card text-center">
                    <img class="card-img-top" src="/images/school.png">
                    <div class="card-body">
                        <p class="card-title"><%= schoolYear.schoolYear %></p>
                        <form action="/schoolYear/<%= schoolYear._id %>?_method=DELETE" method="POST">
                            <button class="delete button btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script>
    $(".delete").on("click", function(){
        var result = confirm("Delete?");
        
        if(result) {
            return true;
        } else {
            return false;
        }
    });
</script>

<%- include("../partials/footer") %>